/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
    color: #444;
}

p {
    line-height: 2rem;
}
.serv
{
    background-color: rgba(11,11,11,0.92);
    height: 100%;
    width: 100%;s
}
.cont_sec
{
    height:auto;
    width: 80%;
}
.button-collapse {
    color: #26a69a;
}
.border
{
    height:1 px;
    border:1px solid teal;
    width:100px;

}
.header
{
    color: white;
    text-align: center;
    padding-top:22%;

}
.parallax-container {
    min-height: 400px;
    line-height: 0;
    height: 680px;
    color: rgba(255,255,255,.9);
}
.parallax-container .section {
    width: 100%;
}


.ready-btn
{
    width:20% !important;
    height: 10% !important;

}
.ready-btn:hover
{
    background-color: #ff4967!important;
    color: floralwhite;
}
@media only screen and (max-width : 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }
    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width : 600px) {
    #index-banner .section {
        top: 0;
    }
}

.icon-block {
    padding: 30px;
    border: 1px solid teal;
    border-radius: 5px;

}
.icon-block .material-icons {
    font-size: inherit;
}
.input, .textarea {
    padding: 10px;
    border: 1px solid #E5E5E5;
    width: 200px;
    color: #999999;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
}
form{
    padding: 50px 100px;
    font-size: 13px;
    font-family: Verdana, Tahoma, sans-serif;
}


.textarea {
    
    width: 400px;
    height: 150px;
    max-width: 700px;
    line-height: 18px;
}

.input:hover, .textarea:hover,
.input:focus, .textarea:focus {
    border: 1px solid ;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
}

.form label {
    margin-left: 10px;
    color: black;
}
.image1
{
    display: inherit !important;
    height: 100%;
    width: 100%;
    opacity: 0.5;


}
.image2
{
    display: inherit !important;
    height: 100%;
    width: 100%;
    opacity: 1;
    padding-bottom: 20px;
    padding-top: 6px;
}
.image3
{
    opacity: 0.2 !important;
}
.image_body
{
    display: inherit !important;
    height:100%;
    width:100%;
}
.navbar
{
    backface-visibility: hidden !important;
    background: cover !important;
    position: fixed !important;
    background-blend-mode: darken;
    z-index: 15;

}
.sec_head
{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-weight: 100;
    text-shadow: white;


}
.sec_head2
{
    font-family: "Roboto", sans-serif;
    text-shadow: white;
    padding-top: 50px !important;
    text-transform: uppercase;
    font-weight: 100;
}
.about
{
    padding-bottom: 20px    ;
}
.send_btn
{
    margin-top: 0% !important;
}

